In [9]:
import pickle
import requests

with open("pipe_linear_regression.pkl", "rb") as model_file:
    model = pickle.load(model_file)

In [7]:
import pandas as pd

columns = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'condition', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated',
       'city']
new_data = [5, 2, 2590, 8483.00, 2, 3, 2590, 0, 1991, 0, "Bothell"]

new_data = pd.DataFrame([new_data], columns=columns)
new_data

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,sqft_above,sqft_basement,yr_built,yr_renovated,city
0,5,2,2590,8483.0,2,3,2590,0,1991,0,Bothell

In [8]:
model.predict(new_data)

array([451412.63857667])

## Bikin API

In [63]:
URL = "http://127.0.0.1:5000/"
r = requests.get(URL)
data = r.json()
data

{'nama': 'Runeka', 'pekerjaan': 'Neet', 'usia': 18}

In [65]:
# post data

URL = "http://127.0.0.1:5000/input"
data = {'nama' : 'ganteng',
        'usia' : 32,
        'pekerjaan' : 'photografer' }
r = requests.post(URL, json=data)

URL = "http://127.0.0.1:5000/"
r = requests.get(URL)
data = r.json()
data

{'nama': 'ganteng', 'pekerjaan': 'Neet', 'usia': 32}

In [77]:
URL = "http://127.0.0.1:5000/predict"
data = {'bedrooms' : 4,
        'bathrooms' : 4,
        'sqft_living' : 1000,
        'sqft_lot' : 20000,
        'floors' : 1,
        'condition' : 3,
        'sqft_above' : 2000,
        'sqft_basement' : 100,
        'yr_built' : 1999,
        'yr_renovated' : 1,
        'city' : 'Seattle'}
r = requests.post(URL, json=data)
res = r.json()
res

{'code': 200,
 'data': {'result': {'target': '618512.4747418156',
   'target_names': [618512.4747418156]}},
 'status': 'OK'}